<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to tables_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to tables_path, class: "nav-link" do %>
            <i class="fas fa-home"></i> Home
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_table_path, class: "nav-link" do %>
          <i class="fas fa-plus-circle"></i> Add Table
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to orders_show_path, class: "nav-link" do %>
        <i class="fa-solid fa-money-bill-1"></i>Revenue
        <% end %>
      </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://ca.slack-edge.com/T02NE0241-U064DBCQ6UU-e6526850e216-512", class: "avatar", alt: "dropdown menu" %>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
