<div class="center-form mt-5">
<%= simple_form_for @table do |f| %>
  <%= f.input :customer_number, label: "Customers quantity", placeholder: "Enter quantity"%>
   <%= f.input :status, label: "Status", placeholder: "Change Status"%>
  <%= f.button :submit, class: 'btn btn-success' do %>
    <i class="fas fa-check"></i> Save Changes
  <% end %>
  <%= link_to table_path, class: 'btn btn-warning' do %>
    <i class="fas fa-times"></i> Cancel Edit
  <% end %>
<% end %>
</div>
