<section class="container d-flex justify-content-between">
  <%= link_to tables_path, class: 'btn btn-secondary mb-2' do %>
    <i class="fas fa-home"></i> Main floor
  <% end %>
  <%= link_to orders_path, class: 'btn btn-secondary mb-2' do %>
    <i class="fas fa-home"></i> Kitchen orders
  <% end %>
</section>

<section class="container">
  <div class="fixed-table-container">
    <% @tables.each do |table| %>
      <%= link_to table_path(table), class: "card-circle #{table_color_class(table)}" do %>
        <div class="card-circle-body">
          <h2 class="card-circle-title">Table <%= table.number %></h2>
          <p class="card-circle-text">Customers <%= table.customer_number %></p>
          <h3 class="card-circle-text">Status: <%= table.status %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
