<% if @table %>
<div class='container mt-5'>
  <div class='table_container d-flex justify-content-between'>
    <%= link_to tables_path, class: 'btn btn-primary mb-2 text-center' do %>
      <i class="fas fa-chevron-left"></i> Back to List
    <% end %>
    <%= link_to table_path(@table.id), class: 'btn btn-outline-danger mb-2 text-align' , data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to permanently delete this table?' } do %>
      <i class="fas fa-chevron-left"></i> Delete Table
    <% end %>
  </div>
<%= form_with(model: @table, url: table_path(@table), method: :patch, class: 'customer-status-form', data: { controller: 'customer-counter' }) do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text" id="customer-count-label">Customers</span>
    <%= f.text_field :customer_number, type: 'number', class: 'form-control', id: 'customer-count-input', min: 0, data: { target: 'customer-counter.countInput' } %>
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary" data-action="click->customer-counter#increment">
        <i class="fas fa-plus"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" data-action="click->customer-counter#decrement">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <%= f.label :status, class: 'form-label' %>
  <%= f.select :status, Table.statuses.keys, {}, class: 'form-control' %>
  <%= f.button :submit, class: 'btn btn-primary mb-3 mt-3', value: 'Update' %>
<% end %>
  <section class='buttons-container d-flex justify-content-between '>
        <% if @table.orders.any? %>
          <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
          <i class="fas fa-edit"></i> Add Order
        <% end if current_user.id == @table.user_id %>
          <% else %>
        <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
          <i class="fas fa-edit"></i> Open Table
        <% end if current_user.id == @table.user_id %>
          <% end %>

        <% if @table.orders.any? %>
          <%= link_to checkout_table_path(@table), class: 'btn btn-success' do %>
            <i class="fas fa-cash-register"></i> Checkout
          <% end %>
        <% end %>

        <%= link_to 'Close Table', close_table_path(@table), method: :get, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </section>
            <h1 class='text-center'>Orders</h1>
        <% if @table.orders.any? %>
          <% @table.orders.each do |order| %>
            <% order.selected_foods.each do |selected_food| %>
                <h5 class="card-title">
                  <%= selected_food.food.name %>
                  <%= link_to "Borrar", selected_food_path(selected_food), data: { turbo_method: :delete } %>
                </h5>
            <% end %>
            <%= simple_form_for [order, SelectedFood.new] do |f| %>
              <%= select_tag 'foods[]', options_for_select(@foods.map { |food| [food.name, food.id] } ),data:{controller:'order-multiple'}, multiple: true %>
              <%= select_tag 'foods[]', options_for_select(@drinks.map { |food| [food.name, food.id] } ),data:{controller:'order-multiple'}, multiple: true %>
              <%= f.submit "Add Food", class: 'btn btn-facundo' %>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>
  </section>
</div>
<% else %>
  <p>Table not found.</p>
<% end %>
