<% if @table %>
  <div class='container'>
    <%= link_to tables_path, class: 'btn btn-primary mb-2 text-center' do %>
      <i class="fas fa-chevron-left"></i> Back to List
    <% end %>
  </div>
<%= form_with(model: @table, url: table_path(@table), method: :patch, class: 'customer-status-form', data: { controller: 'customer-counter' }) do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text" id="customer-count-label">Customers</span>
    <%= f.text_field :customer_number, type: 'number', class: 'form-control', id: 'customer-count-input', min: 0, data: { target: 'customer-counter.countInput' } %>
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary" data-action="click->customer-counter#increment">
        <i class="fas fa-plus"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" data-action="click->customer-counter#decrement">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <%= f.label :status, class: 'form-label' %>
  <%= f.select :status, Table.statuses.keys, {}, class: 'form-control' %>
  <%= f.button :submit, class: 'btn btn-primary', value: 'Update' %>
<% end %>
  <section class=''>
        <% if @table.orders.any? %>
          <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
          <i class="fas fa-edit"></i> Add Order
        <% end if current_user.id == @table.user_id %>
          <% else %>
        <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
          <i class="fas fa-edit"></i> Open Table
        <% end if current_user.id == @table.user_id %>
          <% end %>

        <% if @table.orders.any? %>
          <%= link_to checkout_table_path(@table), class: 'btn btn-success' do %>
            <i class="fas fa-cash-register"></i> Checkout
          <% end %>
        <% end %>

        <%= link_to 'Close Table', close_table_path(@table), method: :get, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <h1>Orders</h1>
        <% if @table.orders.any? %>
          <% @table.orders.each do |order| %>
            <% order.foods.each do |food| %>
                <h5 class="card-title">
                  <%= food.name %>
                </h5>
            <% end %>
          <% end %>
          <%= link_to 'Edit Orders', edit_table_order_path(@table), class: 'btn btn-facundo ' %>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <p>Table not found.</p>
<% end %>
