<% if @table %>
  <div class='container'>
    <%= link_to tables_path, class: 'btn btn-primary mb-2 text-center' do %>
      <i class="fas fa-chevron-left"></i> Back to List
    <% end %>
  </div>

  <section class=''>
    <div class=" <%= table_color_class(@table) %> mx-auto my-5">
      <div class="card-body">
        <h2 class="card-title">Table <%= @table.number %></h2>
        <p class="card-text">Customers <%= @table.customer_number %></p>
        <h3 class="card-text">Status <%= @table.status %></h3>
        <% if current_user.id == @table.user_id%>
          <%= button_tag 'Edit', class: 'btn btn-primary', id: 'edit' %>
        <% end %>

        <% if @table.orders.any? %>
          <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
            <i class="fas fa-edit"></i> Add Order
          <% end if current_user.id == @table.user_id %>
        <% else %>
          <%= link_to new_table_order_path(@table), class: 'btn btn-warning' do %>
            <i class="fas fa-edit"></i> Open Table
          <% end if current_user.id == @table.user_id %>
        <% end %>

        <% if @table.orders.any? %>
          <%= link_to checkout_table_path(@table), class: 'btn btn-success' do %>
            <i class="fas fa-cash-register"></i> Checkout
          <% end %>
        <% end %>

        <%= link_to 'Close Table', close_table_path(@table), method: :get, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% if @table.orders.any? %>
          <h1>Orders</h1>

          <% @table.orders.each do |order| %>
            <% order.foods.each do |food| %>
              <h5 class="card-title">
              <%= food.name %>
              </h5>
            <% end %>
          <% end %>
          <%= link_to 'Edit Orders', edit_table_order_path(@table), class: 'btn btn-facundo ' %>
        <% end %>
        <% if @editable %>
          <div class="center-form mt-5">
            <%= simple_form_for @table do |f| %>
              <%= f.input :customer_number, label: "Customers quantity", placeholder: "Enter quantity" %>
              <%= f.input :status, collection: Table.statuses.keys, label: "Status", prompt: "Select status" %>

              <%= f.button :submit, class: 'btn btn-success' do %>
                <i class="fas fa-check"></i> Save Changes
              <% end %>
              <%= link_to table_path, class: 'btn btn-warning' do %>
                <i class="fas fa-times"></i> Cancel Edit
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </section>
<% else %>
  <p>Table not found.</p>
<% end %>
