<!DOCTYPE html>
<html>
  <head>
    <title>Comander</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
          <%= render "shared/navbar" %>
          <!-- Additional sidebar content goes here -->
        </div>

        <div class="col-lg-11 px-0">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
